.pagination{
    display: flex;
    align-items: center;
}
.pages li{
    margin-right: 23px;
}
.pages a{
    font-size: 18px;
    color: #707070;
    font-family: 'Avenir-Medium';
}
.pagination .active{
    color: #fff;
    background: #E4163A;
    padding: 7px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination a, .active:active{
    outline-style: none;
}
@media screen and (max-width: 767px) {
    .pages a{
        /*margin-right: 25px;*/
        font-size: 12px;
    }
    .pagination .active{
        padding: 8px 15px;
    }
}
@media screen and (max-width: 575px) {
    .pages a{
        /*margin-right: 15px;*/
        font-size: 12px;
    }
    .pagination .active{
        padding: 5px 15px;
    }
    .pages li{
        margin-right: 9px;
    }
}